.git
.github
.vscode
.venv
__pycache__
*.pyc
.env
.ipynb_checkpoints

data/raw/m5/*.csv
!data/raw/m5/calendar.csv
!data/raw/m5/sell_prices_sample.csv

data/features/*
data/predictions/*

results/figures/*
results/reports/*
