.git
.github
.vscode
.venv
__pycache__
*.pyc
.env
.ipynb_checkpoints

data/raw/m5/*.csv

data/processed/*
!data/processed/.gitkeep

data/features/*
!data/features/.gitkeep

data/predictions/*
!data/predictions/.gitkeep

models/*
!models/.gitkeep

results/metrics/*
!results/metrics/.gitkeep

results/figures/*
!results/figures/.gitkeep

results/reports/*
!results/reports/.gitkeep
